body{
width: 95%;
margin: auto;

font-family: Tahoma;
line-height: 0.8;
text-align: center;
background-size: cover;
background-image: url(fundo.jpg) ;
}

main{

    background: #00000085;
}

#foto{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

#headline{
text-align: center;
color: white;
font-family: Arial, Helvetica, sans-serif;
}


#return{
text-align: justify;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

#texto{

line-height: 2.5;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


}